body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(202, 199, 214);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  header {
    padding: 0px 0;
    margin: -50px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
  
  }
  nav a:hover {
    border-bottom: white 1px solid;
    color: white;
    text-decoration: none;
  }
  
  nav {
    margin-top: 3rem;
  }
  
  #top-section {
    margin-top: 4rem;
    height: 38rem;
  }
  
  footer{
    font-family:'cursive', 'Times New Roman', Times, serif;
  }
  #top-section p {
    font-weight: lighter;
  }
  
  #top-section a {
    border: 1px solid black;
    width: 10rem;
    border-radius: 10px;
  }
  
  #top-section a:hover {
    background-color: black;
    color: white;
  }
  
  #top-section .image img {
    float: right;
  }
  
  #mid-section .row .col .card {
    margin-left: 0rem;
  }
  
  #mid-section .brain {
    padding: 0rem;
    padding-bottom: 0;
    width: 12rem;
    height: 12rem;
  }
  
  #mid-section .lungs {
    padding: 0rem;
    width: 12rem;
    padding-bottom: 0;
    height: 12rem;
  }
  #mid-section .btn {
    color: black;
    background-color: rgb(202, 199, 214);
    border: 1px solid rgb(0, 29, 117);
    border-radius: 20px;
  }
  
  #mid-section .btn:hover {
    background-color: rgb(0, 29, 117);
    color: white;
  }
  
  #mid-section .card .card-body {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  #mid-section .card {
    border-radius: 30px;
    align-items: center;
    height: 22rem;
    width: 15rem;
    box-shadow: 8px 8px 8px #e5e5e5;
  }
  
  #mid-section {
    background-color:  rgb(202, 199, 214);;
    height: 50rem;
    padding: 5rem;
  }
  
  @media (min-width: 300px) and (max-width: 500px) {
    #mid-section .row .col .card {
      margin-left: 2;
    }
  
    #mid-section .card {
      width: 14rem;
      height: 20rem;
    }
    #mid-section .brain {
      width: 15rem;
      height: 10rem;
    }
  
    #mid-section .eye {
      width: 15rem;
      height: 9rem;
    }
  
    #mid-section .lungs {
      width: 12rem;
      height: 11rem;
    }
  }
  
  @media (max-width: 500px) {
    body {
      text-align: center;
    }
  
    .hone {
      margin-left: 0;
    }
  
    #top-section {
      margin-top: 3rem;
      height: auto;
      padding-bottom: 4rem;
    }
  
    #top-section a {
      margin-bottom: 3rem;
    }
  
    #mid-section {
      height: auto;
      padding: 1rem;
      padding-bottom: 4rem;
    }
  
    #mid-section .row .col .card {
      margin-top: 2rem;
    }
  
    #mid-section .card {
      width: 30vh;
      height: 43vh;
    }
  
    #mid-section .card3 {
      height: 45vh;
    }
  
    #mid-section .brain {
      width: 30vh;
      height: 20vh;
    }
    #mid-section .eye {
      margin-top: 0.5rem;
      padding: 4vh;
      width: 30vh;
      height: 20vh;
    }
    #mid-section .lungs {
      width: 30vh;
      height: 23vh;
    }
  
    footer ul {
      margin: 0;
      padding: 0;
    }
  }
  