<footer class="black">
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="footer-content">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb">
                        <div class="footer-about-info">
                            <h4> About Us </h4>
                            <p> A Breast cancer web App detection , aims to detect whether patient have breast cancer or not using machine learning Algorithems. </p>
                            <ul>
                                <li><i class="icon-location-1"></i>
                                    <span>university of Haifa , Abba Khoushy Ave 199,Haifa</span></li>
                                <li><i class="icon-mail"></i>
                                    <span>Email: <a href="mailto:aseel.khlady@gmail.com">aseel.khlady@gmail.com</a></span>
                                <li><i class="icon-mail"></i>
                                    <span>Email: <a href="mailto:orabimaria@gmail.com">orabimaria@gmail.com</a></span>
                                <li><i class="icon-mail"></i>
                                    <span>Email: <a href="mailto:ameerarayan2@gmail.com">ameerarayan2@gmail.com </a></span></li>
                            </ul>
                        </div>
                        <div class="social-link footer-social-link">
                            <ul>
                                <li><a href="https://is-web.hevra.haifa.ac.il/index.php" target="_blank" class="circle c-1">
                                       <img src="static\images_cancer\download.png" style="background-size: cover; /* Adjust this property as needed */
                                            border-radius: 50%; /* Create a circular shape */
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;"></a></li>
                                <li><a href="https://www.haifa.ac.il/?lang=en" class="circle c-2">
                                    <img src="static\images_cancer\images.png" style="background-size: cover; /* Adjust this property as needed */
                                            border-radius: 50%; /* Create a circular shape */
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;"></a></li>
                                 <li><a href="https://www.facebook.com/ishaifau" target="_blank" class="circle c-3"><i
                                        class="icon-facebook "></i></a></li>
                                <li><a href="https://gitlab.com/u_of_haifa_is_dpt/capstone_george_martvel/be-my-eyes" class="circle c-4">
                                     <img src="static\images_cancer\Screenshot 2023-09-26 225801.png" style="background-size: cover; /* Adjust this property as needed */
                                            border-radius: 50%; /* Create a circular shape */
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;">
                                </a></li>
                            </ul>
                        </div> <!-- footer-social-link -->
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb">
                        <h4> Our News </h4>
                        <div class="news-1">
                            <a href="our-causes.html">
                                <img src="static/images_cancer/ImageForNews_759296_451882709865509242443-125x110.webp" alt="..." style="width:65px; height:65px;">
                            </a>
                            <div class="news">
                                <h5 class="news-h"><a href="https://www.news-medical.net/news/20230925/New-AI-model-improves-accuracy-of-tumor-removal-in-breast-cancer-surgery.aspx">New AI model improves accuracy of tumor removal in Breast cancer..</a></h5>
                                <p class="date">Sep 26, 2023</p>
                            </div>
                        </div>
                        <div class="news-2">
                            <a href="our-causes.html">
                                <img src="static/images_cancer/the-hon-mark-butler-mp_0.jpg" alt="..." style="width:65px; height:65px;">
                            </a>
                            <div class="news">
                                <h5 class="news-h"><a href="https://www.health.gov.au/ministers/the-hon-mark-butler-mp/media/expanded-medicines-for-breast-cancer-and-leukaemia-on-the-pbs?language=en">Expanded medicines for breast cancer and leukaemia on the PBS</a></h5>
                                <p class="date">Sep 1, 2023</p>
                            </div>
                        </div>
                        <div class="news-3">
                            <a href="our-causes.html">
                                <img src="static/images_cancer/GettyImages-1148253356.webp" alt="..." style="width:65px; height:65px;">
                            </a>
                            <div class="news">
                                <h5 class="news-h"><a href="https://www.binghamtonhomepage.com/news/carrie-on-breast-cancer-fundraiser-returns-for-6th-annual-year/">CARRIE-ON’ Breast Cancer Fundraiser returns for 6th annual year</a></h5>
                                <p class="date">Sep 26, 2023</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb">
                        <h4> Contact Us </h4>
                        <form action="...">
                            <div class="form-group">
                                <input id="first_name" name="first_name" type="text" placeholder="Name"
                                       class="form-control" required="">
                            </div>
                            <div class="form-group">
                                <input id="email" name="email" type="email" placeholder="E-mail"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Message..."></textarea>
                            </div>
                            <div class="form-group buttons ">
                                <input type="submit" class="red-btn red-btn-form" value="Send Message">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="back-to-top">
            <a class="top top-page" href="#"> <i class="icon-up-open-big"></i></a>
        </div>

        <div class="back-to-top-mob">
            <a class="top top-mob" href="#"> <i class="icon-up-open-big"></i></a>
        </div>
    </div>

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="copy-title">Copyright &copy; 2023 created by
                        <a href="https://gitlab.com/u_of_haifa_is_dpt/capstone_george_martvel/be-my-eyes" target="_blank">Aseel&Ameera&Maria</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>