<!DOCTYPE html> 
<html>
<head>
    <title>🧠Brain tumor home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel = "stylesheet" href = "../static/cssBrain/normalize.css">
<link rel = "stylesheet" href = "../static/cssBrain/homebrain.css">
<style>
        .big-name {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.blue-text {
    color: rgb(29, 29, 231); 
}   
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      }
      .social-icons a,
    .contact-link {
        color: #4a3fe3; 
        text-decoration: none; 
        margin-right: 20px;
        font-weight: bold;
    }
    .footer {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!-- header -->
    <header class = "header bg-blue">
        <nav class = "navbar bg-blue">
            <div class = "container flex">
                <a href = "/homebrain" class = "navbar-brand">
                    <img src = "../static/imagesBrain/logo.png" alt = "site logo">
                </a>
                <button type = "button" class = "navbar-show-btn">
                    <img src = "../static/imagesBrain/ham-menu-icon.png">
                </button>

                <div class = "navbar-collapse bg-white">
                    <button type = "button" class = "navbar-hide-btn">
                        <img src = "../static/imagesBrain/close-icon.png">
                    </button>
                    <ul class = "navbar-nav">
                        <li class = "nav-item">
                            <a href = "/homebrain" class = "nav-link">Home</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/projectBrain" class = "nav-link">About project</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/Faqbrain" class = "nav-link">FAQS</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/braindetect" class = "nav-link">Tumor Detection</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://news.google.com/search?q=brain%20tumors" class="nav-link" target="_blank">News</a>
                        </li>
                        <li class="nav-item">
                            <a href = "/what" class = "nav-link">More info</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/" class = "nav-link"> Back to ProHealth360</a>
                        </li>
                </div> 
            </div>
        </nav>

        <div class = "header-inner text-white text-center">
            <div class = "container grid">
                <div class = "header-inner-left">
                    <h1>your most trusted<br> <span><br>Brain Tumor<br> Detection </span></h1>
                    <p class = "text text-md">&nbsp;<h3>A brain tumor diagnosis can be a daunting experience. That's why we're here to provide you with accurate information and the resources you need to make informed decisions about your health.</h3></p>
                    <div class = "btn-group">
                        <br><br><br><br><a href="https://www.aans.org/en/Patients/Neurosurgical-Conditions-and-Treatments/Brain-Tumors" target="_blank"
                            class = "btn btn-white">Learn More</a>
                    </div>
                </div>
                <div class = "header-inner-right">
                    <img src = "../static/imagesBrain/Header.png">
                </div>
            </div>
        </div>
    </header>
    <a href="https://www.aans.org/en/Patients/Neurosurgical-Conditions-and-Treatments/Brain-Tumors" target="_blank">
        <img src="../static/imagesBrain/2.svg" alt="image2" class="center">
      </a>
    <main>
        <h1 style="color: black;margin-left: 10px;">Common Symptoms of Brain Tumor:</h1>
  <div style="display: flex; justify-content: center;">
    <iframe width="1000" height="600" src="https://www.youtube.com/embed/2OfLiWLjaEY" frameborder="0" allowfullscreen></iframe>
  </div>  

        <!-- banner one -->
        <section id = "banner-one" class = "banner-one text-center">
            <div class = "container text-white">
                <blockquote class = "lead"><i class = "fas fa-quote-left"></i> Early detection is key in treating brain tumors. If you have any symptoms, don't wait. See a doctor as soon as possible <i class = "fas fa-quote-right"></i></blockquote>
                
            </div>
        </section>
                <div class = "services-inner text-center grid">
                    <article class = "service-item">
                        <div class = "icon">
                            <img src = "../static/imagesBrain/sug_about/service-icon-1.png">
                        </div>
                        <h3>Cardio Monitoring</h3>
                    </article>

                    <article class = "service-item">
                        <div class = "icon">
                            <img src = "../static/imagesBrain/sug_about/service-icon-2.png">
                        </div>
                        <h3>Medical Treatment</h3>
                    </article>

                    <article class = "service-item">
                        <div class = "icon">
                            <img src = "../static/imagesBrain/sug_about/service-icon-3.png">
                        </div>
                        <h3>Emergency Help</h3>
                    </article>

                    <article class = "service-item">
                        <div class = "icon">
                            <img src = "../static/imagesBrain/sug_about/service-icon-4.png">
                        </div>
                        <h3>First Aid</h3>
                    </article>
                </div>
            </div>
        </section>
        <!-- banner two section -->
        <section id = "banner-two" class = "banner-two text-center">
            <div class = "container grid">
                <div class = "banner-two-left">
                    <img src = "../static/imagesBrain/banner-2-img.png">
                </div>
                <div class = "banner-two-right">
                    <p class = "lead text-white">"Don't let fear or denial keep you from getting a brain tumor screening. Early detection can save your life."</p>
                    <div class = "btn-group">
                        <a href = "/brain_tumor" class = "btn btn-white">Detect now!</a>
                   </div>
                </div>
            </div>
        </section>
        

        <!-- package services section -->
        <section id = "package-service" class = "package-service py text-center">
            <div class = "container">
                <div class = "package-service-head text-white">
                    <h2>Precaution To Be Taken</h2>
                    <p class = "text text-lg">Follow The instructions and stay safe</p>
                </div>
                <div class = "package-service-inner grid">
                    <div class = "package-service-item bg-white">
                        <div class = "icon flex">
                            <i class = "fas fa-phone fa-2x"></i>
                        </div>
                        <h3>Regular Case</h3>
                        <a href = "#" class = "btn btn-blue">Precaution</a>
                        <p class = "text text-sm"><b> 1. Get regular check-ups<br>2. Wear protective gear<br>3. Avoid exposure to radiation<br>4. Exercise regularly<br>5. Manage stress<br>6. Know the warning signs</b></p>    
                    </div>

                    <div class = "package-service-item bg-white">
                        <div class = "icon flex">
                            <i class = "fas fa-calendar-alt fa-2x"></i>
                        </div>
                        <h3>Serious Case</h3>
                        <a href = "#" class = "btn btn-blue">Precaution</a>
                        <p class = "text text-sm"><b>1. Work with a team of specialists<br>2. Follow your treatment plan<br>3. Manage side effects<br>4. Practice self-care<br>5.Seek Support<br>6. Monitor your symptoms<br>7. Consider clinical trials</p></b>
                        </div>
                    
                    <div class = "package-service-item bg-white">
                        <div class = "icon flex">
                            <i class = "fas fa-comments fa-2x"></i>
                        </div>
                        <h3>Emergency Case</h3>
                        <a href = "#" class = "btn btn-blue">Precaution</a>
                        <p class = "text text-sm"><b>1. Call 101<br>2. Stay calm<br>3. Provide information<br>4. Bring medical records<br>5. Follow medical advice<br>6. Monitor your symptoms<br>7. Seek support</p></b>
                         </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer -->
<footer id="footer" class="footer text-center">
    <div class="container">
        <div class="footer-inner text-white py grid">
            <div class="footer-item">
                <h3 class="footer-head">Copyright © 2023</h3>
                <p class="text text-md">
                    <span class="big-name">
                        <a href="https://www.linkedin.com/in/ameera-rayan-a80349268/" target="_blank" class="linkedin-link">
                            <i class="fab fa-linkedin"></i> <span class="blue-text">Ameera Rayan</span>
                        </a> <br>
                        <a href="https://www.linkedin.com/in/aseel-khaldy-683774264/" target="_blank" class="linkedin-link">
                            <i class="fab fa-linkedin"></i> <span class="blue-text">Aseel Khawaled</span>
                        </a><br>
                        <a href="https://www.linkedin.com/in/maria-orabi-9a4209250" target="_blank" class="linkedin-link">
                            <i class="fab fa-linkedin"></i> <span class="blue-text">Maria Orabi</span>
                        </a>
                    </span>
                </p>
            </div>
            <div class="footer-item">
                <h3 class="footer-head">Location</h3>
                <p class="text text-lg"> 
                    <a href="#" class="text-blue">
                        <i class="fas fa-map-marker-alt"></i> Haifa, Israel
                    </a>
                </p>
            </div>            

            <div class="footer-item">
                <h3 class="footer-head">Brain Detection</h3>
                <a href="/braindetect" class="btn btn-blue">Detect Now</a>
            </div>
            
            <!-- Social Media Icons and Contact Information -->
            <div class="footer-item">
                <h3 class="footer-head">Follow Us</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/yourpage" target="_blank" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/yourpage" target="_blank" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/yourpage" target="_blank" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <h3 class="footer-head">Contact Us</h3>
                <p class="text text-md">
                    <a href="mailto:ameerarayan2@gmail.com" class="contact-link">
                        <i class="fas fa-envelope"></i> <span class="contact-text">ameerarayan2@gmail.com</span>
                    </a>
                    <br>
                    <a href="mailto:aseel.khaldy@gmail.com" class="contact-link">
                        <i class="fas fa-envelope"></i> <span class="contact-text">aseel.khaldy@gmail.com</span>
                    </a>
                    <br>
                    <a href="mailto:orabimaria@gmail.com" class="contact-link">
                        <i class="fas fa-envelope"></i> <span class="contact-text">orabimaria@gmail.com</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->
</body>

</html>