<!DOCTYPE html> 
<html>
<head>
  <title>🧠 Tumor Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel = "stylesheet" href = "../static/cssBrain/normalize.css">
<link rel = "stylesheet" href = "../static/cssBrain/homebrain.css">
<style>
        .big-name {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.blue-text {
    color: rgb(29, 29, 231); 
}   
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      }
      .social-icons a,
    .contact-link {
        color: #4a3fe3; 
        text-decoration: none; 
        margin-right: 20px;
        font-weight: bold;
    }
    .footer {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!-- header -->
    <header class = "header bg-blue">
        <nav class = "navbar bg-blue">
            <div class = "container flex">
                <a href = "/homebrain" class = "navbar-brand">
                    <img src = "../static/imagesBrain/logo.png" alt = "site logo">
                </a>
                <button type = "button" class = "navbar-show-btn">
                    <img src = "../static/imagesBrain/ham-menu-icon.png">
                </button>

                <div class = "navbar-collapse bg-white">
                    <button type = "button" class = "navbar-hide-btn">
                        <img src = "../static/imagesBrain/close-icon.png">
                    </button>
                    <ul class = "navbar-nav">
                        <li class = "nav-item">
                            <a href = "/homebrain" class = "nav-link">Home</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/projectBrain" class = "nav-link">About project</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/Faqbrain" class = "nav-link">FAQS</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/braindetect" class = "nav-link">Tumor Detection</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://news.google.com/search?q=brain%20tumors" class="nav-link" target="_blank">News</a>
                        </li>
                        <li class="nav-item">
                            <a href = "/what" class = "nav-link">More info</a>
                        </li>
                        <li class = "nav-item">
                            <a href = "/" class = "nav-link"> Back to ProHealth360</a>
                        </li>
                </div> 
            </div>
        </nav>
<body>
<h2 class='lead'><center><bold>{{result}}</bold></h2>
<br/>
<br/>
<center><img src="../static/no_tum.jpg" alt="logo" width="120" height="400" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
<br/>
<br/>
<br/>
<div style="max-width:700px; margin:auto">
Congratulations! You do not have a brain tumor according to us, but we still strongly advice you to visit a Doctor to make sure that you're truly safe.
</div>
<br/>
<div style="max-width:700px; margin:auto">
We'll see you off with a few more advices from our side so that you can be as sharp and healthy as always:
</div>
<br/></center>
<br/>
<div style="max-width:500px; margin-left:300px">
  <ul style="list-style-type: disc;"> 
      <li>Exercise regularly</li>
      <li>Get plenty of sleep</li>
      <li>Eat a healthy diet</li>
      <li>Stay mentally active</li>
      <li>Remain socially involved</li>
  </ul>
</div>

<br/>
<br/>
<br/>
</header>
 <!-- footer -->
 <footer id="footer" class="footer text-center">
  <div class="container">
      <div class="footer-inner text-white py grid">
          <div class="footer-item">
              <h3 class="footer-head">Copyright © 2023</h3>
              <p class="text text-md">
                  <span class="big-name">
                      <a href="https://www.linkedin.com/in/ameera-rayan-a80349268/" target="_blank" class="linkedin-link">
                          <i class="fab fa-linkedin"></i> <span class="blue-text">Ameera Rayan</span>
                      </a> <br>
                      <a href="https://www.linkedin.com/in/aseel-khaldy-683774264/" target="_blank" class="linkedin-link">
                          <i class="fab fa-linkedin"></i> <span class="blue-text">Aseel Khawaled</span>
                      </a><br>
                      <a href="https://www.linkedin.com/in/maria-orabi-9a4209250" target="_blank" class="linkedin-link">
                          <i class="fab fa-linkedin"></i> <span class="blue-text">Maria Orabi</span>
                      </a>
                  </span>
              </p>
          </div>
          <div class="footer-item">
              <h3 class="footer-head">Location</h3>
              <p class="text text-lg"> 
                  <a href="#" class="text-blue">
                      <i class="fas fa-map-marker-alt"></i> Haifa, Israel
                  </a>
              </p>
          </div>            

          <div class="footer-item">
              <h3 class="footer-head">Brain Detection</h3>
              <a href="/braindetect" class="btn btn-blue">Detect Now</a>
          </div>
          
          <!-- Social Media Icons and Contact Information -->
          <div class="footer-item">
              <h3 class="footer-head">Follow Us</h3>
              <div class="social-icons">
                  <a href="https://www.facebook.com/yourpage" target="_blank" class="social-icon">
                      <i class="fab fa-facebook"></i>
                  </a>
                  <a href="https://www.instagram.com/yourpage" target="_blank" class="social-icon">
                      <i class="fab fa-instagram"></i>
                  </a>
                  <a href="https://twitter.com/yourpage" target="_blank" class="social-icon">
                      <i class="fab fa-twitter"></i>
                  </a>
              </div>
              <h3 class="footer-head">Contact Us</h3>
              <p class="text text-md">
                  <a href="mailto:ameerarayan2@gmail.com" class="contact-link">
                      <i class="fas fa-envelope"></i> <span class="contact-text">ameerarayan2@gmail.com</span>
                  </a>
                  <br>
                  <a href="mailto:aseel.khaldy@gmail.com" class="contact-link">
                      <i class="fas fa-envelope"></i> <span class="contact-text">aseel.khaldy@gmail.com</span>
                  </a>
                  <br>
                  <a href="mailto:orabimaria@gmail.com" class="contact-link">
                      <i class="fas fa-envelope"></i> <span class="contact-text">orabimaria@gmail.com</span>
                  </a>
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- end of footer -->
</body>
</html>